
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/vehicle-checker/confirm",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Check vehicle compliance
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">
        Incorrect vehicle details
      </h1>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Registration</td>
            <th class="govuk-table__cell">{{ data['vrn'] }}</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Type</td>
              <th class="govuk-table__cell">Car</td>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Make</td>
            <th class="govuk-table__cell">Peugeot</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Colour</td>
            <th class="govuk-table__cell">Grey</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Use</td>
            <th class="govuk-table__cell">Taxi</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Emissions standard</td>
            <th class="govuk-table__cell">Euro XX (petrol/diesel)</th>
          </tr>
        </tbody>
      </table>

      <p>If you accidentally entered the wrong registration, you can <a href="/vehicle-checker/enter-vehicle-details">search again</a>.</p>

      <p>If you think any of the vehicle details are incorrect, please write to:
      <br>
      <br>
      Joint Air Quality Unit
      <br>
      Department for Environment, Food & Rural Affairs
      <br>
      Nobel House, 17 Smith Square
      <br>
      London
      <br>
      SW1P 3JR
      <br>
      <br>
      You'll need to include your vehicle registration certificate.
      <p></p>

    </div>
</div>

{% endblock %}
