<h1 class="govuk-heading-l">
    Bath
</h1>
    
{% include "includes/notCompliant.html" %}

<br>

<p>This vehicle does not comply with the <a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview" target=_blank>Bath CAZ emissions standards</a>. It is therefore subject to a charge when driving in <a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview" target=_blank>Bath's Clean Air Zone</a>.</p>

<h2 class="govuk-heading-m">
    Next steps
</h2>

<ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview/overview-scheme" target=_blank>How much does it cost to drive in Bath?</a></li>
    <li><a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview/overview-scheme" target=_blank>Find out if you qualify for an exemption or discount</a></li>
    <li><a href="https://caz-prototype-psr-dev.herokuapp.com" target=_blank>Pay a Clean Air Zone charge</a>
</ul>

<h2 class="govuk-heading-m">
    Avoid having to pay in Bath
</h2>

<p>Bath and North East Somerset Council offers lots of support to help you avoid the charge and improve your own health and that of people around you. This includes <a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview/support-community" target=_blank>advice for people who live or work in the zone</a>. Bath also offers lots of <a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview/support-business" target=_blank>support and advice for business</a>.</p>