<h1 class="govuk-heading-l">
    Nottingham CAZ compliance
</h1>
    
{% include "includes/notCompliant.html" %}

<br>

<p>The vehicle with registration {{ data['vrn'] }} does not comply with the <a href="https://www.transportnottingham.com/no-clean-air-zone-for-nottingham/" target=_blank>Nottingham CAZ emissions standards</a>.</p>

<p>You are subject to a charge when entering the <a href="https://www.transportnottingham.com/no-clean-air-zone-for-nottingham/" target=_blank>area covered by the Nottingham CAZ</a> during its <a href="https://www.transportnottingham.com/no-clean-air-zone-for-nottingham/" target=_blank>hours of operation</a>.</p>

<h2 class="govuk-heading-m">
    Next steps
</h2>

<ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.transportnottingham.com/no-clean-air-zone-for-nottingham/" target=_blank>Find out how much the Nottingham CAZ charge is</a></li>
    <li><a href="https://www.transportnottingham.com/no-clean-air-zone-for-nottingham/" target=_blank>Find out if you qualify for an exemption or discount</a></li>
</ul>

<p>If you wish to avoid the charge, you can change your vehicle to <a href="https://www.transportnottingham.com/no-clean-air-zone-for-nottingham/" target=_blank>become compliant</a>, and you may qualify for <a href="https://www.transportnottingham.com/no-clean-air-zone-for-nottingham/" target=_blank>financial assistance</a> to help you do so.</p>