

{% extends "layout.html" %}

{% block pageTitle %}
  Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Local authorities
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Birmingham
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Compliant</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Leeds
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Compliant</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Derby
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Southampton
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="medical-information-completed">
                Nottingham
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Compliant</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>


</div>

{% endblock %}
