

{% extends "layout.html" %}

{% block pageTitle %}
Check if a vehicle has to pay to drive in Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Leeds CAZ compliance
        </h1>
    
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Compliant
          </h1>
        </div>
  
        <br>
  
        <p>The vehicle with registration {{ data['vrn'] }} does not need to pay a charge to enter the <a href="">Leeds CAZ</a>.</p>
    
        <h2 class="govuk-heading-m">
          Next steps
        </h2>
  
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/vehicle-checker/local-authority">Check this vehicle's compliance for another CAZ</a></li>
          <li><a href="/vehicle-checker/enter-vehicle-details">Check another vehicle's compliance</a></li>
        </ul>

    </div>

</div>

{% endblock %}
