{% extends "layout.html" %}

{% block pageTitle %}
  Select task
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>
<br>
<br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Select task
        </h1>

        <form method="post" class="form" action="/task">
          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <p><b>What would you like to do?</b></p>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-task-1" name="select-task" type="radio" value="vehicle-checker">
                    <label class="govuk-label govuk-radios__label" for="select-task-1">
                      Check my vehicle's compliance
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-task-2" name="select-task" type="radio" value="pay-charge">
                    <label class="govuk-label govuk-radios__label" for="select-task-2">
                      Pay a Clean Air Zone charge
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-task-3" name="select-task" type="radio" value="pay-pcn">
                    <label class="govuk-label govuk-radios__label" for="select-task-3">
                      Pay or appeal a Clean Air Zone PCN
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-task-4" name="select-task" type="radio" value="account">
                    <label class="govuk-label govuk-radios__label" for="select-task-4">
                      Access my Clean Air Zones account
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          
            <button type="submit" class="govuk-button">
              Continue
            </button>
        </form>

</div>

{% endblock %}
