{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/vehicle-checker/enter-vehicle-details",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Check vehicle compliance
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l not-found-title">Vehicle details could not be found</h1>
            <table class="govuk-table">
              <tbody class=govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <th class="govuk-table__cell"></th>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">You searched for</td>
                  <th class="govuk-table__cell">{{ data['vrn'] | upper}}</th>
                </tr>
              </tbody>
            </table>
            <p>If you are sure that you entered the correct registration number and you need to make a further enquiries please contact <a href="https://www.gov.uk/change-vehicle-details-registration-certificate">DVLA</a></p>
    </div>
</div>

{% endblock %}
