{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/vehicle-checker/enter-vehicle-details",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Check if a vehicle has to pay to drive in Clean Air Zones
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Vehicle details not found</h1>
            <p>We can find no details for the vehicle with registration {{ data['vrn'] }}.</p>
            <p>This may be because:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Your vehicle is not registered with the DVLA</li>
                <li>Your vehicle is not registered in the United Kingdom</li>
            </ul>
            <p>If you want to check the vehicle record held by the DVLA, please contact vehicle enquiries:</p>
            <p>Phone: 0300 790 6802</br>Email: <a href="">Send an email</a></p>
            <p>An advisor will be able to assist you 8.00am - 7.00pm Monday to Friday and 8.00am - 2.00pm on Saturday.</p>
            <p><a href="/vehicle-checker/enter-vehicle-details">Search again</a></p>
    </div>
</div>

{% endblock %}
