
{% extends "layout.html" %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pay a Clean Air Zone charge
        <span class="govuk-caption-xl">Discovery prototype</span>
      </h1>

      <h2 class="govuk-heading-m">Pages</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/discovery/vehicle-checker/enter-vehicle-details">Vehicle checker</a></li>
        <li>
          <a href="/discovery/payment">
            Make a one-off payment
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
