
{% extends "layout.html" %}

{% block pageTitle %}
  Make a one-off payment
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Make a one-off payment
      </h1>

      <br>

      <h2 class="govuk-heading-m">Enter vehicle details</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="vrn-pay">
          Vehicle registration (number details)
        </label>
        <span id="vrn-hint" class="govuk-hint">
          For example, CU57ABC
        </span>
        <input class="govuk-input govuk-input--width-10" id="vrn-pay" name="vrn-pay" type="text" value="{{ data['vrn-pay'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="country-of-registration">
          Country of registration
        </label>
        <select class="govuk-select govuk-select" id="country-of-registration" name="country-of-registration">
          <option value="uk">United Kingdom</option>
        </select>
      </div>

      <br>

      <form action="https://www.payments.service.gov.uk/card_details/r85hecladh3lf3tbqh95pvgflh">
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>

    </div>
</div>

{% endblock %}
