
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/vehicle-checker/confirm",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Check vehicle compliance
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" action="/vehicle-checker/compliancePage">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="cazHint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you want to drive?
              </h1>
            </legend>
            <span id="cazHint" class="govuk-hint">
              Select all locations that apply.
            </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="bath">
                <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                  Bath and North East Somerset (<a href="">see boundary</a>)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-2" name="caz-2" type="checkbox" value="birmingham">
                <label class="govuk-label govuk-checkboxes__label" for="caz-2">
                  Birmingham (<a href="">see boundary</a>)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="leeds">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Leeds (<a href="">see boundary</a>)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-4" name="caz-4" type="checkbox" value="sheffield">
                <label class="govuk-label govuk-checkboxes__label" for="caz-4">
                  Sheffield (<a href="">see boundary</a>)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>

    </div>
</div>

{% endblock %}
