
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/vehicle-checker/confirm",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Check vehicle compliance
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" action="/vehicle-checker/compliancePage">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="cazHint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Clean Air Zone selector
              </h1>
            </legend>
            <span id="cazHint" class="govuk-hint">
              Select all the CAZs for which you would like to check your vehicle’s compliance.
            </span>
            <div class="govuk-checkboxes">
              <!-- <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="bath">
                <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                  Bath and North East Somerset
                </label>
              </div> -->
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="birmingham">
                <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                  Birmingham
                </label>
              </div>
              <!-- <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="bolton">
                <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                  Bolton
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="bristol">
                <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                  Bristol
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="bury">
                <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                  Bury
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="coventry">
                <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                  Coventry
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="fareham">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Fareham
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="gateshead">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Gateshead
                </label>
              </div> -->
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="leeds">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Leeds
                </label>
              </div>
              <!-- <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="manchester">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Manchester
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="middlesbrough">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Middlesbrough
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="new-forest">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  New Forest
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="newcastle">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Newcastle-upon-Tyne
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="north-tyneside">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  North Tyneside
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="salford">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Salford
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-5" name="caz-5" type="checkbox" value="sheffield">
                <label class="govuk-label govuk-checkboxes__label" for="caz-5">
                  Sheffield
                </label>
              </div> -->
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-5" name="caz-5" type="checkbox" value="southampton">
                <label class="govuk-label govuk-checkboxes__label" for="caz-5">
                  Southampton
                </label>
              </div>
              <!-- <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="stockport">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Stockport
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-5" name="caz-5" type="checkbox" value="rotherham">
                <label class="govuk-label govuk-checkboxes__label" for="caz-5">
                  Rotherham
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="tameside">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Tameside
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="trafford">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Trafford
                </label>
              </div> -->
            </div>
          </fieldset>
        </div>
        
        <!-- <div class="govuk-tabs" data-module="tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
          
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#A-D">
                  A-D
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#E-H">
                  E-H
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#I-L">
                  I-L
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#M-P">
                  M-P
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#Q-T">
                  Q-T
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#U-Z">
                  U-Z
                </a>
              </li>
            </ul>
          
            <section class="govuk-tabs__panel" id="A-D">
              <h2 class="govuk-heading-l">A-D</h2>
              <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="birmingham">
                      <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                        Birmingham
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="caz-2" name="caz-2" type="checkbox" value="derby">
                        <label class="govuk-label govuk-checkboxes__label" for="caz-2">
                          Derby
                        </label>
                      </div>
                  
                </div>
          
            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="E-H">
              <h2 class="govuk-heading-l">E-H</h2>
          
            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="I-L">
              <h2 class="govuk-heading-l">I-L</h2>
              <div class="govuk-checkboxes">
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="leeds">
                    <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                      Leeds
                    </label>
                  </div>
                </div>
          
            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="M-P">
              <h2 class="govuk-heading-l">M-P</h2>
              <div class="govuk-checkboxes">
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="caz-4" name="caz-4" type="checkbox" value="nottingham">
                    <label class="govuk-label govuk-checkboxes__label" for="caz-4">
                      Nottingham
                    </label>
                  </div>
                </div>
          
            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Q-T">
              <h2 class="govuk-heading-l">Q-T</h2>
              <div class="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="caz-5" name="caz-5" type="checkbox" value="southampton">
                    <label class="govuk-label govuk-checkboxes__label" for="caz-5">
                      Southampton
                    </label>
                  </div>
                </div>
            
            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="U-Z">
              <h2 class="govuk-heading-l">U-Z</h2>
            
            </section>
          </div> -->
        
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>

    </div>
</div>

{% endblock %}
