
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/vehicle-checker/confirm",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Check if a vehicle has to pay to drive in Clean Air Zones
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" action="/vehicle-checker/compliancePage">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="cazHint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which Clean Air Zone do you need to check?
              </h1>
            </legend>
            <p>You can choose more than one.</p>
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="caz-1" name="caz-1" type="checkbox" value="bath">
                    <label class="govuk-label govuk-checkboxes__label" for="caz-1">
                      Bath (<a href="http://www.bathnes.gov.uk/bath-breathes-2021-overview" target=_blank>see boundary</a>)
                    </label>
                  </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-2" name="caz-2" type="checkbox" value="birmingham">
                <label class="govuk-label govuk-checkboxes__label" for="caz-2">
                  Birmingham (<a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/3" target=_blank>see boundary</a>)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-3" name="caz-3" type="checkbox" value="leeds">
                <label class="govuk-label govuk-checkboxes__label" for="caz-3">
                  Leeds (<a href="https://www.arcgis.com/home/webmap/viewer.html?webmap=de0120ae980b473982a3149ab072fdfc&extent=-1.733%2c53.7378%2c-1.333%2c53.8621" target=_blank>see boundary</a>)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="caz-4" name="caz-4" type="checkbox" value="sheffield">
                <label class="govuk-label govuk-checkboxes__label" for="caz-4">
                  Sheffield (<a href="http://democracy.sheffield.gov.uk/ieDecisionDetails.aspx?Id=2156" target=_blank>see boundary</a>)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>

    </div>
</div>

{% endblock %}
