
{% extends "layout.html" %}

{% block pageTitle %}
  Check vehicle compliance
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">
        Check vehicle compliance: Leeds Clean Air Zone
      </h1>

      <div class="govuk-panel govuk-panel--confirmation">
        <div class="govuk-panel__body">
          {{ data['vrn'] }}
        </div>
        <br>
        <h1 class="govuk-panel__title">
          Compliant
        </h1>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Vehicle type</td>
            <th class="govuk-table__cell">Car</th>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Vehicle use</td>
              <th class="govuk-table__cell">Taxi</th>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Make</td>
            <th class="govuk-table__cell">Peugeot</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Colour</td>
            <th class="govuk-table__cell">Grey</th>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Euro standard</td>
              <th class="govuk-table__cell">Euro 4 (petrol)</th>
            </tr>
        </tbody>
      </table>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Incorrect Euro standard or classification?
          </span>
        </summary>
        <div class="govuk-details__text">
          If you believe the vehicle details are incorrect, please write to:
          <br>
          <br>
          Joint Air Quality Unit
          <br>
          Department for Environment, Food & Rural Affairs
          <br>
          Nobel House, 17 Smith Square
          <br>
          London
          <br>
          SW1P 3JR
          <br>
          <br>
          You'll need to include your vehicle registration certificate.
        </div>
      </details>

      <p>Return to the <a href="/vehicle-checker/leeds">Leeds Clean Air Zone</a> page.</p>

    </div>
</div>

{% endblock %}
