{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/sign-in",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
            Account
        </h2>
        <p>
          <a href="/payments/account-home">Home</a>
          <br>
          <a href="/payments/account-details">Account details</a>
          <br>
          <b><a href="/payments/account-payments">Payments</a></b>
          <br>
          <a href="/payments/account-vehicles">Vehicles</a>
        </p>
        <p>
            <b>Name</b>
            <br>
            Erica Delcastillo
        </p>
        <p>
            <b>Account ID</b>
            <br>
            123456789
        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Payments</h1>
      <h1 class="govuk-heading-m">
          Stored credit/debit cards
      </h1>
      <button class="govuk-button">Add card</button>
    </div>
</div>

{% endblock %}