{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/debit-credit-card",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Check vehicle compliance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Confirmation page</h1>
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You have paid £XX.XX for the Bath CAZ
            </h1>
        </div>
        <h2 class="govuk-heading-m">Payment reference: XYZ123ABC</h2>
        <p>A receipt has been sent to you via email</p>
        <p>If you need to pay for another vehicle please <a href="enter-vehicle-details.html">Click Here</a></p>
        <p>If you want to pay for the same vehicle for another CAZ please <a href="local-authority.html">Click Here</a></p>
    </div>
</div>

{% endblock %}