{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/payments/local-authority",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Check vehicle compliance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Make a payment for the Sheffield Clean Air Zone</h1>
        <h2 class="govuk-heading-m">The base tariff for your vehicle is: £5</h2>
        <form method="post" class="form" action="/payments/paymentPages">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="discountSelection-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Are you eligible for any discounts or exemptions?
                    </h1>
                </legend>
                <span id="discountSelection-hint" class="govuk-hint">
                    Select all options that apply. The highest discount will be applied.
                </span>
                <div class="govuk-checkboxes" data-module="checkboxes" onclick="changeCharge()">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="discountSelection-1" name="blueBadge" type="checkbox"
                            value="blue-badge" data-aria-controls="conditional-discountSelection-1">
                        <label class="govuk-label govuk-checkboxes__label" for="discountSelection-1">
                            I'm a blue badge holder
                        </label>
                    </div>
                    <!-- <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                        id="conditional-discountSelection-1">
                        <label class="govuk-label" for="contact-by-email">
                            You do not have to pay a charge
                        </label>
                    </div> -->
                    <div class="govuk-checkboxes__item" onclick="changeCharge()">
                        <input class="govuk-checkboxes__input" id="discountSelection-2" name="citizen" type="checkbox"
                            value="bath-resident" data-aria-controls="conditional-discountSelection-2">
                        <label class="govuk-label govuk-checkboxes__label" for="discountSelection-2">
                            I am a resident of Sheffield
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item" onclick="changeCharge()">
                        <input class="govuk-checkboxes__input" id="discountSelection-3" name="desire" type="checkbox"
                            value="bath-resident" data-aria-controls="conditional-discountSelection-3">
                        <label class="govuk-label govuk-checkboxes__label" for="discountSelection-3">
                            I just really want a 10% discount
                        </label>
                    </div>


                </div>
                <br>
                <!-- <button type="button" class="govuk-button"> onclick="changeCharge()"
                    Calculate cost
                </button> -->
            </fieldset>
            <h2 class="govuk-heading-m" id="charge" name="charge">Total cost: £5.00</h2>
            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <span id="email-hint" class="govuk-hint">
                    We’ll only use this to send you a receipt
                </span>
                <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint"
                    autocomplete="email">
            </div>
        </div>
        <button type="submit" class="govuk-button">
            Pay by credit or debit
        </button>
        </form>

        <script>
            function changeCharge() {

                var charge = document.getElementById("charge").innerHTML;

                if (document.getElementById("discountSelection-1").checked == true) {

                    charge = "Total cost: £0.00"

                } else if (document.getElementById("discountSelection-2").checked == true) {
                    charge = "Total cost: £2.50"
                } else if (document.getElementById("discountSelection-3").checked == true) {
                    charge = "Total cost: £4.50"
                } else {
                    charge = "Total cost: £5.00"
                }


                document.getElementById("charge").innerHTML = charge;

            }
        </script>

    </div>
</div>

{% endblock %}