
{% extends "layout.html" %}

{% block pageTitle %}
  Confirm vehicle
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Confirm vehicle
      </h1>

      <br>

      <p>We have found the following details for your vehicle. Please confirm if they match your vehicle.</p>

      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
              {{ data['vrn'] }}
          </h1>
          <div class="govuk-panel__body">
            Grey PEUGEOT 307 STYLE HDI
          </div>
        </div>

      <br>

      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Is this your vehicle?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      <br>

      <form action="/vehicle-checker/compliance">
        <button type="submit" class="govuk-button">
            Confirm
        </button>
      </form>

    </div>
</div>

{% endblock %}
