

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "/vehicle-checker/local-authority",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Check if a vehicle has to pay to drive in Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How your vehicle meets the standards</h1>

      <p>This vehicle has a Euro 4 emissions standards. There is no record of the vehicle having been retrofitted (this means it has not been changed to meet emissions standards).</p>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Incorrect vehicle details?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>If you think any of the vehicle details are incorrect, please write to:
              <br>
              <br>
              Driver and Vehicle Licensing Agency (DVLA)
              <br>
              Swansea
              <br>
              SA99 1BA
              <br>
              <br>
              You'll need to include your vehicle registration certificate.
            </p>
          </div>
        </details>
      
      {% if bathShow %}
        {% include "includes/bath.html" %}
      {% endif %}

      {% if birminghamShow %}
        {% include "includes/birmingham.html" %}
      {% endif %}

      {% if leedsShow %}
        {% include "includes/leeds.html" %}
      {% endif %}

      {% if sheffieldShow %}
        {% include "includes/sheffield.html" %}
      {% endif %}

      <p><a href="javascript:window.print()">Print this page</a></p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Related tasks
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/vehicle-checker/enter-vehicle-details">Check another vehicle's compliance</a></li>
        <li><a href="">Discover ways to avoid having to pay</a></li>
      </ul>
    </div>

</div>

{% endblock %}
