

{% extends "layout.html" %}

{% block pageTitle %}
  Charging Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if birminghamShow %}
        {% include "includes/birmingham.html" %}
      {% endif %}

      {% if derbyShow %}
        {% include "includes/derby.html" %}
      {% endif %}

      {% if leedsShow %}
        {% include "includes/leeds.html" %}
      {% endif %}

      {% if nottinghamShow %}
        {% include "includes/nottingham.html" %}
      {% endif %}

      {% if southamptonShow %}
        {% include "includes/southampton.html" %}
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Pay a CAZ charge</a></li>
        <li><a href="/vehicle-checker/local-authority">Check this vehicle's compliance for another CAZ</a></li>
        <li><a href="/vehicle-checker/enter-vehicle-details">Check another vehicle's compliance</a></li>
      </ul>
    </div>

</div>

{% endblock %}
