{% extends "layout.html" %}

{% block pageTitle %}
  Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your vehicle
      </h1>

      <p>Use this service to check whether your vehicle is compliant in a Clean Air Zone.</p>

      <a href="/vehicle-checker/local-authority" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">
        Find out more
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Clean Air Zone emissions standards</a></li>
        <li><a href="">Which vehicles are impacted by the Clean Air Zones</a></li>
        <li><a href="">Charges</a></li>
        <li><a href="">Discounts and exemptions</a></li>
        <li><a href="">Funding and support to upgrade your vehicle</a></li>
      </ul>

    </div>

</div>

{% endblock %}
