

{% extends "layout.html" %}

{% block pageTitle %}
  Charging Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Local authorities
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Birmingham
              </a>
              <strong class="govuk-tag--compliant app-task-list__task-completed" id="company-information-completed">Compliant</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Leeds
              </a>
              <strong class="govuk-tag--compliant app-task-list__task-completed" id="contact-details-completed">Compliant</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Derby
              </a>
              <strong class="govuk-tag--noncompliant app-task-list__task-completed" id="medical-information-completed">Not Compliant</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Southampton
              </a>
              <strong class="govuk-tag--noncompliant app-task-list__task-completed" id="medical-information-completed">Not compliant</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="medical-information-completed">
                Nottingham
              </a>
              <strong class="govuk-tag--compliant app-task-list__task-completed" id="medical-information-completed">Compliant</strong>
            </li>
          </ul>
        </li>
      </ol>

      <!-- <table class="govuk-table">
            <caption class="govuk-table__caption">Summary</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">CAZ</th>
                <th class="govuk-table__header" scope="col">Compliance</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Birmingham</th>
                <td class="govuk-table__cell">Compliant</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Leeds</th>
                <td class="govuk-table__cell">Subject to charge</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Nottingham</th>
                <td class="govuk-table__cell">Compliant</td>
              </tr>
            </tbody>
          </table> -->

    </div>


</div>

{% endblock %}
