

{% extends "layout.html" %}

{% block pageTitle %}
  Charging Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Birmingham CAZ compliance
      </h1>
  
      <div class="govuk-panel govuk-panel--noncompliantamber">
        <h1 class="govuk-panel__title">
          Not compliant
        </h1>
      </div>

      <br>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why am I not compliant?
          </span>
        </summary>
        <div class="govuk-details__text">
          Your vehicle does not meet the required standards, to find out more go here:
        </div>
      </details>

      <p>The tariff to enter the Birmingham Clean Air Zone is £10 but you may be eligible for a discount or an exemption.</p>
      <p>Find out all the discounts and exemptions by heading to the  <a href="">Birmingham CAZ</a> website.</p>
  
      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Pay a CAZ charge</a></li>
        <li><a href="">Find out if you qualify for discounts or exemptions for the Birmingham CAZ</a></li>
        <li><a href="">Find out how to become compliant for the Birmingham CAZ</a></li>
        <li><a href="/vehicle-checker/local-authority">Check this vehicle's compliance for another CAZ</a></li>
        <li><a href="/vehicle-checker/enter-vehicle-details">Check another vehicle's compliance</a></li>
      </ul>

    </div>

</div>

{% endblock %}
