{% extends "layout.html" %}

{% block pageTitle %}
Check if a vehicle has to pay to drive in Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check if a vehicle has to pay to drive in Clean Air Zones
      </h1>

      <p>If your vehicle doesn't meet clean air standards, you need to pay a daily charge for driving it into a Clean Air Zone.</p>

      <p>Use this service to check if a vehicle has to pay to drive through a Clean Air Zone.</p>

      <p>You'll need the registration number of the vehicle you wish to check.</p>

      <a href="/vehicle-checker/enter-vehicle-details" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">
        More information
      </h2>

      <p>There are 2 charging Clean Air Zones in England, each with their own emissions standards, charges, discounts and exemptions.</p>

      <h2 class="govuk-heading-m">
        Other ways to check if the vehicle meets clean air standards
      </h2>

      <p>
        <b>By phone</b>
        <br>
        Telephone: 0300 790 6802
        <br>
        24-hour service, 7 days a week
        <br>
        <br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>

      <h2 class="govuk-heading-m">
        Related content
      </h2>

      <p><a href="https://caz-prototype-psr-dev.herokuapp.com" target=_blank>Pay a Clean Air Zone charge</a></p>
      <p><a href="">Discover ways to avoid having to pay</a></p>

    </div>

</div>

{% endblock %}
