{% extends "layout.html" %}

{% block pageTitle %}
Check if a vehicle has to pay to drive in Clean Air Zones
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check if a vehicle has to pay to drive in Clean Air Zones
      </h1>

      <p>Use this service to check if a specific vehicle will incur a charge when it drives through a charging Clean Air Zone.</p>

      <p>You'll need to know the registration of the vehicle you wish to check.</p>

      <a href="/vehicle-checker/enter-vehicle-details" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">
        More information
      </h2>

      <p>There are 4 charging Clean Air Zones in England, each with their own emissions standards, charges, discounts and exemptions.</p>

      <h2 class="govuk-heading-m">
        Other ways to check the vehicle's compliance
      </h2>

      <p>
        <b>Vehicle CAZ compliance checking service</b>
        <br>
        Telephone: 0300 790 6802
        <br>
        24-hour service, 7 days a week
        <br>
        <br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>

      <h2 class="govuk-heading-m">
        Related content
      </h2>

      <p><a href="">Pay a CAZ charge</a></p>

      <h2 class="govuk-heading-m">
        Explore the topic
      </h2>
  
      <p><a href="">Clean Air Zones</a></p>

    </div>

</div>

{% endblock %}
