
{% extends "layout.html" %}

{% block pageTitle %}
  National Taxi Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
            Sign in
      </h1>

      <p class="govuk-body">If you do not have an account, please email us at <a href="">xyz@email.com</a>.</p>

      <fieldset class="govuk-fieldset">
        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            What is your address?
            </h1>
        </legend> -->
        
        <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
            Username
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>
        
        <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
            Password
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>

      </fieldset>

      <form class="govuk-button" action="/upload" method="get">
        Continue
      </form>

    </div>
</div>

{% endblock %}