
{% extends "layout.html" %}

{% block pageTitle %}
  National Taxi Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Taxi/PHV Data Upload
      </h1>

      <p class="govuk-label">
        Use this page to upload Taxi/PHV data. 
        Your upload must be a CSV file with information in a specific format. 
        For information on this format see the <a href="/guidance">data formatting rules</a>.
      </p>
      <br>

      <div class="govuk-form-group">
        <span id="more-detail-hint" class="govuk-hint">
          Upload a file
        </span>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <button type="submit" class="govuk-button">
        Upload
      </button>

    </div>
</div>

{% endblock %}
