
{% extends "layout.html" %}

{% block pageTitle %}
  National Taxi Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Taxi/PHV Data Upload
      </h1>

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There was a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#file-upload-1-error">The selected file must be a CSV</a>
            </li>
          </ul>
        </div>
      </div>

      <p class="govuk-label">
        Use this page to upload Taxi/PHV data. 
        Your upload must be a CSV file with information in a specific format. 
        For information on this format see the <a href="/guidance">data formatting rules</a>.
      </p>
      <br>

      <div class="govuk-form-group govuk-form-group--error">
        <span id="more-detail-hint" class="govuk-hint">
            Upload a file
        </span>
        <span id="file-upload-1-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The selected file must be a CSV
        </span>
        <input class="govuk-file-upload govuk-file-upload--error" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <button type="submit" class="govuk-button">
        Upload file
      </button>

    </div>
</div>

{% endblock %}
